name: Run Gradle on PRs
on:
  pull_request:
  push:
      branches: [main]
jobs:
    ktlint:
        timeout-minutes: 300
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
            -   uses: actions/setup-java@v5
                with:
                    distribution: temurin
                    java-version: 17

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v5
            -   name: Execute Gradle build
                run: ./gradlew ktlintCheck
                env:
                    GE_URL: ${{ secrets.GE_URL }}
                    GE_API_KEY: ${{ secrets.GE_API_KEY }}

    prBranch:
        timeout-minutes: 300
        strategy:
            matrix:
                os: [ubuntu-latest,macos-latest]
                version: [17, 21]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version:  ${{ matrix.version }}

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5
            - name: Execute Gradle build
              run:  ./gradlew test -PexcludeTests=*.InfoKotlinProcessPluginTest
              env:
                GE_URL: ${{ secrets.GE_URL }}
                GE_API_KEY: ${{ secrets.GE_API_KEY }}


    integrationJavaTests:
        timeout-minutes: 300
        strategy:
            matrix:
                os: [ubuntu-latest,macos-latest]
                version: [17, 19, 21]
                vendor: [temurin, zulu, liberica]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-java@v5
              with:
                  distribution:  ${{ matrix.vendor }}
                  java-version:  ${{ matrix.version }}

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5
            - name: Execute Gradle build
              run:  ./gradlew test --tests io.github.cdsap.kotlinprocess.InfoKotlinProcessPluginTest
